<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" placeholder="enter your name" name="name"  value="{{list2.Name}}">
        <input type="number" placeholder="enter your age" name="age"  value="{{list2.Age}}">
        <input type="number" placeholder="enter your rollno" name="rollno"  value="{{list2.Roll_NO}}">
        <input type="number" placeholder="enter your mark1" name="tamil"  value="{{list2.Marks[0]}}">  
        <input type="number" placeholder="enter your mark2" name="english"  value="{{list2.Marks[1]}}">
        <input type="number" placeholder="enter your mark3" name="maths"  value="{{list2.Marks[2]}}">
        <input type="number" placeholder="enter your mark4" name="science" value="{{list2.Marks[3]}}">
        <input type="number" placeholder="enter your mark5" name="social" value="{{list2.Marks[4]}}">
        <input type="submit">
        <input type="reset">
    
    </form>
</body>
</html>